.table {
  width: 100%;
  overflow-x: auto;
}

.nameContainer{
    display: flex;
    align-items: center;

}


.userStart {
  text-transform: capitalize;
  background-color: #324ea8;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
  margin-right: 10px;

}

.textCapitalize{
  text-transform: capitalize;
}
.user {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.tableHead {
  font-weight: 400;
  background-color: #cdcce0;
}

.tableHeadEl {
  padding: 10px;
  text-align: left;
  font-weight: 600;


}
.tableCell {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}


@media (max-width:1080px) {
  .tableHeadEl {

    min-width: 50px;
  
  }

  .table {
    min-width:1000px;
  }
}