.mainContainer{
    border-bottom: 1px solid black;
}

.body{
    height:60px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}


@media (min-width:768px) {
    .body{
        height:70px;
     }

     .menuIcon{
        display: none;
     }
    
}