.mainContainer{
    /* border-bottom: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.body{
    height:60px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}


@media (min-width:768px) {
    .body{
        height:70px;
     }

     .menuIcon{
        display: none;
     }
    
}